.index{
  .swiper{
    height: 340rpx;
    width: 100%;
      swiper-item{
        .slide-image{
          width: 100%;
          height: 340rpx;
        }
      }
 
  }
  .main{
    .mian-content{
      .mian-top{
        img{
          height: 60rpx;
          width: 100%;
        }
      }
      .mian-button{
        display: flex;
        padding: 16rpx;
        .mian-left{
          img{
            width: 235rpx;
            height: 380rpx;
          }
          margin-right: 15rpx;
        }
        .mian-right{
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          img{
            width: 230rpx;
            height: 180rpx;
          }
         
        }
      }
    }
  }
  .classify{
    display: flex;
    justify-content: space-around;
    padding: 30rpx 0;
    img{
      width: 128rpx;
      height: 140rpx;
    }
  }
}